{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section id="home">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-9xl font-semibold text-white absolute top-10 left-10">TrueBubble</h1>
                </div>
            </div>
        </div>
        <ul class="bubbles">
            {% for post in posts %}
                <li style="width: {{ post.likes < 0 ? post.likes * -1 * scale + 150 : post.likes * scale + 150 }}px; height: {{ post.likes < 0 ? post.likes * -1 * scale + 150 : post.likes * scale + 150  }}px" class="bubble {{ post.likes > 2 ? 'bg-true' : post.likes < -2 and post.likes != null ? 'bg-fake' : 'bg-new'}}"><a href="{{ path('app_post_show', {id: post.id}) }}">
                        <h2>{{ post.title }}</h2>
                    </a></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}