{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="md:container md:mx-auto h-screen flex items-center justify-center">
    <div class="w-screen max-w-md">
        <h1 class="mb-10 flex items-center text-5xl font-extrabold dark:text-white">Write your article<span
                    class="bg-blue-100 text-blue-800 text-2xl font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-2">:)</span>
        </h1>
        {{ form_start(form) }}
        {{ form_row(form._token) }}
            <div class="mb-6">
                <label for="title"
                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Title</label>
                {{ form_widget(form.title, {'attr': {'class': 'form-control shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light','type': 'text','id': 'title', 'required':' '}}) }}
            </div>
            <div class="mb-6">
                <label for="content"
                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Content</label>
                {{ form_widget(form.content, {'attr': {'rows':'7','placeholder':'Write your content here...','class': 'form-control p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500','id': 'content', 'required':' '}}) }}
            </div>
            <div class="mb-6">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" for="post_cover">Post Cover</label>
                {{ form_widget(form.image, {'attr': {'placeholder':'https://placeimg.com/1200/600/any','class': 'form-control shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light','type': 'text','id': 'post_cover', 'required':' '}}) }}
{#                <input class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="post_cover" id="post_cover" type="file">#}
            </div>
            <button type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Published
            </button>
        {{ form_end(form) }}
    </div>
</div>

{#    {{ include('post/_form.html.twig') }}#}

{#    <a href="{{ path('app_post_index') }}">back to list</a>#}
{% endblock %}
