{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900">
        <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
            <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
                <header class="mb-4 lg:mb-6 not-format">
                    <address class="flex items-center mb-6 not-italic">
                        <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                            <img class="mr-4 w-16 h-16 rounded-full" src="{{ post.author.image ? post.author.image : 'https://flowbite.com/docs/images/people/profile-picture-2.jpg' }}" alt="Jese Leos">
                            <div>
                                <a href="#" rel="author" class="text-xl font-bold text-gray-900 dark:text-white">{{ post.author.pseudo }}</a>
                                <p class="text-base font-light text-gray-500 dark:text-gray-400">Graphic Designer, educator & CEO Flowbite</p>
                                <p class="text-base font-light text-gray-500 dark:text-gray-400"><time pubdate datetime="2022-02-08" title="February 8th, 2022">{{ create_at }}</time></p>
                            </div>
                        </div>
                    </address>
                    <div class="-translate-x-28 fixed flex flex-col justify-center items-center">
                        {% if app.user %}
                            <svg id="positiveRelevanceInput" onclick="newPostRelevance({{ post.id }}, true, 'positiveRelevanceInput')" class="mb-2 cursor-pointer w-10 stroke-main-gray" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M9 11l3-3m0 0l3 3m-3-3v8m0-13a9 9 0 110 18 9 9 0 010-18z" /></svg>
                        {% endif %}
                        <span class="relevanceTotal flex items-center justify-between text-white {{ post.likes == 0 ? 'bg-blue-700' : post.likes > 0 ? 'bg-green-500' : 'bg-red-600' }} bg-blue-700 font-medium rounded-full text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            <span>{{ post.likes }}</span>
                            <svg class="ml-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clipRule="evenodd" /></svg>
                        </span>
                        {% if app.user %}
                            <svg id="negativeRelevanceInput" onclick="newPostRelevance({{ post.id }}, false, 'negativeRelevanceInput')" class="mt-2 cursor-pointer w-10 stroke-main-gray" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M15 13l-3 3m0 0l-3-3m3 3V8m0 13a9 9 0 110-18 9 9 0 010 18z" /></svg>
                        {% endif %}
                    </div>
                    {% if post.image %}
                        <div class="pt-52 pb-32 mb-5" style="background-image: url('{{ post.image }}')"></div>
                    {% endif %}
                        <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">{{ post.title }}</h1>
                </header>
                <section>
                    {{ post.content }}
                </section>
            </article>
        </div>
    </main>
    <script>
        function newPostRelevance(postId, relevance, inputClass) {
            fetch('/post/' + postId + '/relevance', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    post_id: postId,
                    relevance: relevance
                })
            })
                .then(response => response.json())
                .then(response => {
                    console.log(response)
                    // Update the relevance
                    document.querySelector('.relevanceTotal').children[0].innerHTML = response.relevance;

                    //update the color
                    let color = response.relevance > 0 ? 'bg-green-500' : response.relevance < 0 ? 'bg-red-600' : 'bg-blue-700';
                    let relevanceTotal = document.querySelector('.relevanceTotal');
                    relevanceTotal.classList.remove('bg-green-500', 'bg-red-600', 'bg-blue-700');
                    relevanceTotal.classList.add(color);

                    /* WIP */

                    //let colorInput = relevance === false ? 'bg-red-600' : 'bg-green-500';
                    // switch (response.status) {
                    //     case 200:
                    //
                    //         document.getElementById(inputClass).classList.remove('bg-blue-700');
                    //         document.getElementById(inputClass).parentElement.querySelector('span').classList.add(color);
                    //         document.getElementById(inputClass).parentElement.querySelector('span').innerHTML = response.relevance;
                    //         break;
                    //     case 201:
                    //
                    //         document.getElementById(inputClass).classList.remove('bg-blue-700');
                    //         document.getElementById(inputClass).parentElement.querySelector('span').classList.add(color);
                    //         document.getElementById(inputClass).parentElement.querySelector('span').innerHTML = response.relevance;
                    //         break;
                    //     case 400:
                    //
                    //         document.getElementById(inputClass).classList.remove('bg-blue-700');
                    //         document.getElementById(inputClass).parentElement.querySelector('span').classList.add(color);
                    //         document.getElementById(inputClass).parentElement.querySelector('span').innerHTML = response.relevance;
                    //         break;
                    // }

                    /* WIP */
                })
        }
    </script>
{% endblock %}
